<div class="row text-center g-4 mb-4">
    <div class="col-md-4">
        <i class="fas fa-history fa-3x text-primary mb-2"></i>
        <p><strong>Podgląd historii zamówień</strong></p>
    </div>
    <div class="col-md-4">
        <i class="fas fa-tags fa-3x text-success mb-2"></i>
        <p><strong>Dostęp do specjalnych ofert</strong></p>
    </div>
    <div class="col-md-4">
        <i class="fas fa-user-cog fa-3x text-warning mb-2"></i>
        <p><strong>Personalizacja konta</strong></p>
    </div>
</div>
